:root {
    --color-fondo: #00072D;
    --color-fondo-alt: #00072D;
    --color-acento: #0077B6;
    --color-acento-claro: #0077B6;
    --color-acento-oscuro: #023E8A;
    --color-texto: #FFFFFF;
    --color-texto-secundario: #BBDEFB;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-weight: 500;
}