:root {
    --color-fondo: #000314;
    --color-fondo-alt-oscuro: #000524;
    --color-fondo-alt-claro: #00072D;
    --color-acento: #2196F3;
    --color-acento-claro: #64B5F6;
    --color-acento-oscuro: #1976D2;
    --color-texto: #FFFFFF;
    --color-texto-secundario: #8C9EAB;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-weight: 500;
}

h2{
    color: var(--color-acento-claro);
    margin-bottom: 20px;
}

h3{
    letter-spacing: 2px;
    font-size: 1.1rem;
}


#navbar-principal {
    background-color: var(--color-fondo);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

#navbar-principal .navbar-brand {
    color: var(--color-acento);
    font-weight: 800;
    font-size: 30px;
}

#navbar-principal .nav-link {
    color: var(--color-texto-secundario);
    transition: color 0.2s ease;

}

#navbar-principal .nav-link:hover {
    color: var(--color-acento-claro);
    font-weight: 800;
    border-bottom: 2px solid var(--color-acento-claro);
}

#navbar-principal .btn-outline-light {
    background-color: var(--color-acento);
    border: 0;
    border-radius: 20px;
    width: 150px;
}

#navbar-principal .btn-outline-light:hover {
    background-color: var(--color-acento-claro);
    color: var(--color-texto);
    font-weight: 800;
    transform: translateY(-2px);
}

header {
    background: linear-gradient(360deg, var(--color-fondo-alt-claro) 0%, var(--color-fondo) 100%);
    padding: 100px 0;
}

header h1{
    color: var(--color-acento);
    font-size: 3.5rem;
    text-shadow: 0px 0px 70px var(--color-acento-oscuro);
}

@media (max-width: 991px) {
    header h1 {
        font-size: 2.75rem;
    }
}

@media (max-width: 767px) {
    header {
        padding: 40px 20px;
    }

    header h1 {
        font-size: 2rem;
    }

    header img { 
        max-width: 70%;
        margin-bottom: 40px;
    } 
}

header .lead {
    font-weight: 700;
}

header img {
    width: 100%;
    border: 3px solid var(--color-acento);
    box-shadow: 0 0 80px #023E8A;
}

#biografia {
    padding: 100px 0;
}

#biografia img {
    border-radius: 30px;
    width: 100%;
    box-shadow: 0 0 80px #023E8A;
}

#biografia .col-md-8 {
    padding-left: 50px;
    align-content: center;
}

#biografia h3 {
    padding-top: 10%;
    padding-bottom: 15px;
}

#biografia .badge {
    background-color: color-mix(in srgb, var(--color-acento) 25%, transparent);
    border: 1px solid var(--color-fondo-alt-claro);
    font-weight: 600;
    padding: 0.5rem 1rem;
}

@media (max-width: 767px) {

    #biografia {
        padding: 40px 20px;
    }

    #biografia img { 
        max-width: 70%;
        margin-bottom: 40px;
    } 

    #biografia .col-md-8 {
        padding: 0px 12px;
    }
}

#intereses-habilidades {
    background: var(--color-fondo-alt-oscuro);
    padding: 100px 0;
}

#intereses-habilidades h2 {
    margin-bottom: 60px;
}

#intereses-habilidades h3 {
    margin-bottom: 20px;
}

#intereses-habilidades .list-group-item {
    background-color: var(--color-acento-oscuro);
    color: var(--color-texto);
    border: 1px solid var(--color-aceno-oscuro);
    margin-bottom: 10px;
    box-shadow: 0 0 100px #023E8A;
}

#titulo-tecnologias {
    margin-top: 80px;
}

#flex-tecnologias{
    gap: 7vw;
}

#intereses-habilidades img{
    max-width: 5vw;
    margin-top: 30px;
}



